.chart {
	margin: 24px 0;

	.bar {
		padding: 16px;
		margin: 8px 0;
		border-radius: 4px;
	
		p {
			margin: 0;
		}
	
		&.tty {
			width: 60%;
			background-color: $red;
			
			p {
				color: #fff;
				font-size: 16px;
			}

			@media (min-width: 768px) {
				width: 20%;
			}
		}
	
		&.fty {
			width: 70%;
			background-color: $pink;

			p {
				font-size: 18px;
			}

			@media (min-width: 768px) {
				width: 40%;
			}
		}
	
		&.sty {
			width: 80%;
			background-color: $green;

			p {
				color: #fff;
				font-size: 20px;
			}

			@media (min-width: 768px) {
				width: 60%;
			}
		}
	
		&.ety {
			width: 90%;
			background-color: $yellow;

			p {
				font-size: 22px;
			}

			@media (min-width: 768px) {
				width: 80%;
			}
		}
	
		
		&.ohd {
			width: 100%;
			background-color: $blue;

			p {
				font-size: 24px;
			}
		}
	}
}