/* nav */
.footer {
	display: flex;
	justify-content: center;
	background-color: #0E9302;
	height: 64px;
	width: 100%;
	z-index: 10;

	.footer-inner {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		max-width: 1098px;
	
		.social {
			display: block;
	
			a {
				float: right;
				padding: 0 8px;
				margin-bottom: 0;
			}
		}
	
		.soc-svg {
			filter: contrast(0) brightness(100);
			cursor: pointer;
			width: 24px;
			margin: 4px;
		}
	
		.soc-svg:hover {
			filter: none;
			width: 32px;
			margin:0;
		}
	}
}

.footer-lower {
	background-image: url(../media/grass.png);
	height: 48px;
	width: 100%;
	background-color: transparent;
	background-repeat: repeat-x;
	background-size: 88px 48px;
	background-position: center center;
	z-index: 8;
}

@media (min-width: 600px) {

    .footer {
        padding: 16px 40px;
    }
}

@media (min-width: 880px) {

    .footer {
        padding: 16px 48px;
    }
}
