.about {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.cover {
	height: 208px;
	background-image: url(../media/cover.png);
	background-repeat: repeat-x;
	background-position: bottom;
	background-size: 2400px;
	
	@media (min-width: 768px) {
		height: 520px;
		background-size: auto;
		background-size: 6000px;
	}
}

section {
	padding: 24px;
	margin: 32px 0;

	&.gr {
		background-color: #f3f3f3;
		padding: 64px 24px;
	}

	&.lr {
		background-color: $red;
		margin: 0;
	}

	&.bl {
		margin: 0;
	}
	
	.grid {
		max-width: 1092px;

		.c {
			text-align: center;

			&.p {
				color: #808080;
			}
		}

		@media (min-width: 768px) {
			padding: 0;
		}
	}

	.bullet {
		margin: auto;
		display: block;
		padding: 40px 0;
	}

	.yellow {
		background-color: #fad121;
		overflow: hidden;
		padding: 24px 32px;
		font-size: 24px;
		color: #000;
		border-radius: 48px;
		text-align: center;
		text-decoration: none;
		cursor: pointer;
		border: none;
		display: inline-block;
		margin: 40px 16px 40px 16px;

		&:hover {
			background-color: #f8db57;
			padding: 32px 40px;
			margin: 32px 0 32px 0;
		}
	}

	.faqs {

		.faq {
			border: 1px solid #e7e7e7;
			margin: 16px;
			border-radius: 16px;

			.accordion {
				cursor: pointer;
				padding: 16px 32px;
				width: 100%;
				text-align: left;
				border: none;
				outline: none;
				display: flex;
				justify-content: space-between;
				transition: 0.4s;
				align-items: center;

				h2 {
					margin-bottom: 0;
					font-size: 17px;
				}
		       }
		       
		       /* Style the accordion panel. Note: hidden by default */
		       .panel {
			       padding: 16px 32px;
			       background-color: white;
			       display: none;
			       overflow: hidden;
			       border-radius: 16px;

			       p {
				       margin-bottom: 16px;
				       color: #808080;
				       max-width: none;
			       }
			}
       
		       .accordion:after {
			       content: '+'; /* Unicode character for "plus" sign (+) */
			       font-size: 18px;
			       font-weight: bold;
		       }
		       
		       .active {

				&:after {
					content: "-";
					color: #458dca;
				}

				h2 {
					color: #458dca;
				}
		       	}
	       }
	}

	@media (min-width: 640px) {
		margin: 120px 0;
	}
}
