@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');
/* nav */
.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #363537;
	padding: 16px;
	height: 64px;
	width: 100%;
	position: absolute;
	z-index: 8;
	top: 0;

	li a {
		font-family: 'Josefin Sans', sans-serif;
		text-decoration: none;
		color: #ffffff;
		font-size: 24px;
	}

	li a:hover {
		color: #ff3636;
		text-decoration: none;
	}

	#current {
		color: #ff3636;
		text-decoration: none;
		cursor: inherit;
	}

	.social {
		display: none;
		width: 240px; 

		a {
			float: right;
		}

		@media (min-width: 640px) {
			display: block;
		}
	}

	.soc-svg {
		filter: contrast(0) brightness(100);
		cursor: pointer;
		width: 24px;
		margin: 4px;
	}

	.soc-svg:hover {
		filter: none;
		width: 32px;
		margin:0;
	}

	.nav-links {
		list-style: none;
		width: 240px;

		li {
			display: inline;
			padding:  0 8px;

			a {
				font-size: 18px;
			}
		}
	}

	bottom p {
		display: flex;
		justify-content: center;
		padding: 0 0 32px 0;
	}

}

.nav-lower {
	background-image: url(../media/dropdown.png);
	height: 8px;
	width: 100%;
	background-color: transparent;
	background-repeat: repeat-x;
	background-size: 80px 8px;
	background-position: center center;
	position: absolute;
	top: 64px;
	z-index: 8;
}

@media (min-width: 600px) {

    .nav {
        padding: 16px 40px;
    }
}

@media (min-width: 880px) {

    .nav {
        padding: 16px 48px;
    }
}
