@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap");
#nft {
  height: 640px;
  width: 640px;
  border-radius: 16px;
  position: relative; }
  #nft .nfc-t {
    bottom: 0px;
    height: 640px;
    width: 640px;
    position: absolute; }
    #nft .nfc-t img {
      display: none; }
      #nft .nfc-t img.f {
        position: absolute;
        bottom: 48px;
        right: 120px; }
      #nft .nfc-t img.w {
        position: absolute;
        top: 96px;
        right: 108px; }
      #nft .nfc-t img.a {
        position: absolute;
        bottom: 48px;
        left: 48px; }
      #nft .nfc-t img.h {
        position: absolute;
        bottom: 276px;
        left: 164px;
        z-index: 2; }
      #nft .nfc-t img.p {
        position: absolute;
        bottom: 160px;
        left: 100px; }
    #nft .nfc-t .sig {
      position: relative;
      top: 224px;
      left: 130px; }

.logo {
  position: fixed;
  display: none;
  bottom: 0;
  right: 64px; }
  @media (min-width: 1280px) {
    .logo {
      display: block; } }

.well .text {
  max-width: 640px;
  padding: 32px;
  text-align: center; }
  .well .text h1 {
    font-size: 24px;
    margin-bottom: 16px;
    line-height: 42px;
    max-width: 640px;
    color: #808080; }
    .well .text h1 span {
      color: #FF3636; }
  .well .text p {
    font-size: 14px;
    line-height: 32px;
    color: #808080; }
  @media (min-width: 1280px) {
    .well .text {
      padding: 64px;
      text-align: left; } }

@media (min-width: 1280px) {
  .well {
    display: flex; } }

.nft-b {
  position: absolute; }

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  background-color: #fff;
  font-family: 'Comfortaa', cursive; }
  body .buttons {
    background-color: #ff3636;
    padding: 24px 32px;
    text-align: center; }
    body .buttons a {
      color: #fff;
      text-decoration: none;
      font-size: 24px; }
      @media (min-width: 1280px) {
        body .buttons a {
          font-size: 40px; } }
    body .buttons:hover {
      background-color: #c50000;
      cursor: pointer; }
    @media (min-width: 1280px) {
      body .buttons {
        padding: 40px 64px;
        text-align: left; } }
  @media (min-width: 1280px) {
    body {
      align-items: center; } }
